.menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
    position: relative;
}

.menu-link {
    color: #fff;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.menu-overlay {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}